  /*official styling for dashboard page*/
  /*pop up menu code*/
  a:link,
  a:visited{
   text-decoration: none;
 }
 /*main popup menu*/
 .pmenu{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
 }
 .pmenu-content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .8s;
 }
 #pmenu:target{
   opacity: 1;
   visibility: visible;
 }
 #pmenu:target .pmenu-content{
   opacity: 1;
   visibility: visible;
 }
 .pmenu-close{
   color: #363636;
   font-size: 2em;
   position: absolute;
   top: .5em;
   right: 1em;
 }
 .pmenu-heading{
   font-family: Helvetica;
   color: #4909B2;
   margin-bottom: 1em;
 }
 .pmenu-paragraph{
   line-height: 1.5em;
 }
 .pmenu-open{
   font-family: Helvetica;
   display: inline-block;
   color: #4909B2;
   margin: 2em;
   background-color: #fff;
 }
 /*instagram popup menu*/
 .pmenu2{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
 }
 .pmenu2-content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .8s;
 }
 #pmenu2:target{
   opacity: 1;
   visibility: visible;
 }
 #pmenu2:target .pmenu2-content{
   opacity: 1;
   visibility: visible;
 }
 .pmenu2-open{
   font-family: Helvetica;
   display: inline-block;
   color: #4909B2;
   margin: 2em;
 }
 /*Facebook popup menu*/
 .pmenu3{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
 }
 .pmenu3-content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .8s;
 }
 #pmenu3:target{
   opacity: 1;
   visibility: visible;
 }
 #pmenu3:target .pmenu3-content{
   opacity: 1;
   visibility: visible;
 }
 .pmenu3-open{
   font-family: Helvetica;
   display: inline-block;
   color: #4909B2;
   margin: 2em;
 }
 /*Twitter popup menu*/
 .pmenu4{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
 }
 .pmenu4-content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .8s;
 }
 #pmenu4:target{
   opacity: 1;
   visibility: visible;
 }
 #pmenu4:target .pmenu4-content{
   opacity: 1;
   visibility: visible;
 }
 .pmenu4-open{
   font-family: Helvetica;
   display: inline-block;
   color: #4909B2;
   margin: 2em;
 }
 /*Settings*/
 .settings{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
 }
 .settings-content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .8s;
 }
 #settings:target{
   opacity: 1;
   visibility: visible;
 }
 #settings:target .settings-content{
   opacity: 1;
   visibility: visible;
 }
 .settings-open{
   font-family: Helvetica;
   display: inline-block;
   color: #4909B2;
   margin: 2em;
 }

 /*styling of Dashboard*/
 .row{

 }
 .row div{
  float: right;
  margin-top: -1%;
}
.instagram-section{
  border-radius: 25px;
  background: linear-gradient(#7d30e2,#d81dac,#ef1a6e);
  padding: 20px; 
  width: 30%;
  height: 67vh;    
  margin-left: 5px
}
.facebook-section{
  border-radius: 25px;
  background: #3b579d;
  padding: 20px; 
  width: 30%;
  height: 67vh;    
  margin-left: 5px;
}
.twitter-section{
  border-radius: 25px;
  background: #28aae1;
  padding: 20px; 
  width: 30%;
  height: 67vh;    
  margin-left: 3px;
}
.pmenu-connect{
 font-size: 24px;
 font-family: Helvetica;
 display: inline-block;
 color: #4909B2;
 margin: 2em;
 margin-left: 13%;
 margin-top:  25%;
}
/*Connected Accounts Page*/
.ca{
 background-color: rgba(0,0,0, .8);
 width:100%;
 height: 100vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
.ca-content{
 width: 75%;
 height: 65%;
 background-color: #fff;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 border-radius: 1em;
 opacity: 0;
 visibility: hidden;
 transition: all .8s;
}
#ca:target{
 opacity: 1;
 visibility: visible;
}
#ca:target .ca-content{
 opacity: 1;
 visibility: visible;
}
.ca-open{
 font-family: Helvetica;
 display: inline-block;
 color: #4909B2;
 margin: 2em;
}
 /*Analytics*/
 .analytics{
   background-color: rgba(0,0,0, .0);
   width:100%;
   height: 100%;
   position: absolute;
   transform: translate(-50%, -34%);
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
 }
 .analytics-content{
   width: 100%;
   height: 74%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   opacity: 0;
   visibility: hidden;
 }
 #analytics:target{
   opacity: 1;
   visibility: visible;
 }
 #analytics:target .analytics-content{
   opacity: 1;
   visibility: visible;
 }
 .analytics-open{
   font-family: Helvetica;
   display: inline-block;
   color: #4909B2;
   margin: 2em;
 }