/*index page*/
#stext{
  width: 75%;
}
.container {
  text-align: center;
  color: white;
  height: 525px;
}
.other {
  background-color: #FF9C4C;
  margin: 25px;
  padding: : 0px 15px;
}

.img{
  padding: 14px 25px;
}
#slidetext{
	display: table-cell;
	font-family: impact;
	vertical-align: bottom;
	width: 100%;
	color: #ff8a00;
}
#slidetext-white{
	font-family: impact;
	vertical-align: bottom;
	width: 100%;
	color: #fff;
}
#reviews{

}
